<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/">MeraKart </a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/">Products</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <%if( isLoggedIn ){ %>

                <% test="logout" %>
                    <% raw=username %>

                        <% } else{%>
                            <% test="login" %>
                                <% raw="signup" %>

                                    <% } %>

                                        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span>
                                                <%= raw %>
                                            </a></li>



                                        <li><a style href="/<%=test%>"><span class="glyphicon glyphicon-log-in"></span>

                                                <%=test %>
                                            </a></li>
                                        <%if( isLoggedIn ){ %>
                                            <li><a href="/changepassword/<%=raw%>"><span
                                                        class="glyphicon glyphicon-lock"></span>
                                                    change password
                                                </a></li>
                                            <% }%>
        </ul>
    </div>
</nav>