<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header.ejs') %>

    <body>

        <%- include('partials/navbar.ejs',) %>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2>Change you Account login Details</h2>

                    <h4 class="text-danger">
                        <%=error%>
                    </h4>
                    <form action="/changepassword/<%=username%>" method="post">
                        <input required type="password" name="newpassword" placeholder="New Password"
                            class="form-control">
                        <br>
                        <input required type="password" name="confirmpassword" placeholder="Confirm Password"
                            class="form-control">
                        <br>

                        <input type="submit" value="update" class="btn btn-primary">
                    </form>
                    <br>
                    <br>
                    <p>The password has to be</p>
                    <li>Minimum 8 characters long</li>
                    <li>One Uppercase letter atleast</li>
                    <li>One lowercase letter atleast</li>
                    <li>One Number</li>

                </div>
                <div class="col-md-4"></div>
            </div>

    </body>

</html>