<!DOCTYPE html>
<html lang="en">

<%- include ('partials/header.ejs') %>

    <body>

        <%- include('partials/navbar.ejs') %>
            <div class="container">
                <h1>check your email,we have sent a mail to verify</h1>
            </div>
    </body>

</html>