<!DOCTYPE html>
<html lang="en">


<%- include ('partials/header.ejs') %>

    <body>

        <%- include('partials/navbar.ejs') %>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1>Forgot Password</h1>

                    <h3 class="text-danger">
                        <%=error%>
                    </h3>

                    <form action="/forgotsubmit" method="post">
                        <p>Enter your registered email address</p>
                        <input required type="email" name="email" placeholder="Email Address*" class="form-control"
                            id="">
                        <br>
                        <input type="submit" value="reset password" class="btn btn-primary">
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>

    </body>

</html>