<!DOCTYPE html>
<html lang="en">


<%- include ('partials/header.ejs') %>

    <body>

        <%- include('partials/navbar.ejs') %>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="text-align: center" ;>


                    <h1 class="my-3">Login page</h1>
                    <h3 class="text-danger">
                        <%= error %>
                    </h3>
                    <form action="/login" method="post">
                        <input type="email" required name="email" placeholder="email" class="form-control">
                        <br>
                        <input type="password" required name="password" placeholder="password" class="form-control">
                        <br>
                        <input type="submit" value="login" class="btn btn-block btn-primary">
                    </form>
                    <br>
                    <span>Forgot <a href="/forgot">Password</a>? </span>
                    <br>
                    <span>Donot have a account? <a href="/signup">Create account</a> </span>
                </div>
                <div class="col-md-4"></div>

            </div>

    </body>

</html>