<!DOCTYPE html>
<html lang="en">


<%- include ('partials/header.ejs') %>

    <body>
        <%- include('partials/navbar.ejs',{isLoggedIn : isLoggedIn }) %>
            <h1 class="text-center text-danger">plz verify your Email,check your mailBox</h1>
    </body>

</html>